
  table td{
	width:150px;
	padding:2px;
	background: #F5F5F5;
	text-align:right;
}

table th{
	width:150px;
	padding:2px;
	background: #ffffff;
	text-align:right;
}
table span{
	display:block;
	background-color: #ff0000;
	height: 100%;
	width: 100%;
}
